body  {
  text-align: center;
  font-family: sans-serif;
  background: #073642;
  color: #93a1a1
}

a {
  color: #859900;
}

li {
  padding: 3px;
}

table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 5px;
}

tbody {
  background: #002b36;
}

input {
  background: #002b36;
  color: #93a1a1;
  border: 1px solid #268bd2;
  padding: 3px
}

strong {
  color: #d33682;
}

#wrap {
  width: 650px;
  background-color: #073642;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#index-content {
  text-align: left;
}

.bwcell { width: 120px;
          height: 120px;
          padding: 3px;
}
