<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
	<div id="index-content">
		<p>This is an implementation of a Buzzword Bingo Webapp. All written in Python using Flask.</p>

	{% if bwList.__len__() == 0 %}
		<p>To create a new bingo table, enter a buzzword into the field and press 'Enter'</p>
		<ol>

	{% else %}
		<p>To add another buzzword, enter it into the field and press 'Enter'.<br>
		You need <em>at least </em><strong>{{24-bwList.__len__()}}</strong> <em>more!</em></p>
		<ol>

		{% for buzzword in bwList %}
			<li>{{ buzzword }}
			<!-- delete button -->
			<form action="" method="post" name="DelButtonForm" style="display:inline;">
				{{ delButtonList[-1].delId( value=bwList.index(buzzword) ) }}
				{{ delButtonList[-1].delButton() }}
			</form>
			</li>
		{% endfor %}

	{% endif %}
			<!-- Input StringField -->
			<li><form action="" method="post" name="BuzzwordForm">
				{{ form.bwInput(size=40, autofocus=true, value="", autocomplete="off") }}<br>
			</form></li>
		</ol>

	{% if bwList.__len__() >= 24 %}
		<a href="{{tablelink}}">Generate Bingo Table!</a>
	{% endif %}


	</div>

{% endblock %}
